/* style.css */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
  }
  
  ul { list-style-type: none;}
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
  }
  
  #main_header {
    position: fixed;
    width: 100%;
    background: #171717;
    height: 80px;
    z-index: 999;
  }
  
  #main_header .container {
    position: relative;
  }
  
  #main_header h1 {
    position: absolute;
    left: 20px; top: 14px;
  }
  #main_header h1 > a { 
    color: #fff; 
  }
  
  #gnb {
    position: absolute;
    right: 0; top: 25px;
  }
  
  #gnb a { color: #fff; }
  
  #gnb > ul > li {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  #gnb > ul > li > a {
    display: block;
  }
  
  #gnb > ul > li > a:hover {
    border-bottom: 4px solid #fff;
  }

/* visual*/

#visual {
  position:relative;
  width: 100%;
  height: 100vh;
  top: 60px;
  background-image:url(../images/main.jpg);
  background-position: center;
  background-size: cover;
}

#visual .title-group {
  color: #2d2f33;
  text-align: center;
}

#visual .title-group .typing-txt {
  display: none;
}

#visual .title-group .typing {
  display: inline-block;
  margin: 250px 0 20px;
  font-size: 2.7em;
  font-weight: 500;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-name: blink;
} 
    @keyframes blink{
        0%{border-right: 1px solid #000} 
        50%{border-right: 1px solid #000} 
        100%{border-right: 1px solid #fff} 
    }

    #visual .title-group .sub-txt {
       font-size: 1em;
    }

    /* about */

  #about {
      /* outline: 2px solid green; */
      padding: 140px;
      padding-bottom: 140px;
      /* height: 1400px; */
      font-size: 17px;
      line-height: 1.2em;
  }

  #about h2 {
    margin-top: 60px;
  }
  
  #about .title {
    text-align: center;
  }

  #about .tence {
    margin-top: 70px;
    font-size: 20px;
    line-height: 2em;
  }

  #about .tence span {
    font-size: 24px;
  }

  #about .sk li > img {
    /* outline: 2px solid black; */
    width: 74px;
    height: 74px;
    margin-bottom: 20px;
    float: left;
  }

  #about .sk li > img:last-child {
    margin-right: 60px;
  }
  
  #about .sk .git {
    width: 114px;
    margin-left: -20px;
  }

  #about .ill li > img {
    width: 74px;
    height: 74px;
    margin-right: 57px;
    margin-bottom: 40px;
  }

  #about h2,
  #works h2 {
      font-size: 48px;
      margin-bottom: 85px;
  }

  #about .photo > img {
      box-shadow:
       -50px -50px 0 -10px #fff, 
       -50px -50px 0 #202020;
      width: 400px;
      height: 530px;
      margin: 120px 0 0 50px;
  }

  #about .row {
      overflow: visible;
  }

  #about .introduce {
    line-height: 2em;
    margin-top: 130px;
  }

  #about .process {
    line-height: 2em;
  }


/* works */


  #works {
    text-align: center;
    clear: both;
  }

  #works h2 {
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  #works .explan p {
    background: #ececec;
    height: 300px;
    line-height: 3.2em;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
    text-align: left;
  }

  #works .list li { 
    margin-bottom: 20px;
  }
  
  #works .list img {
    background-color: #ececec;
    padding: 25px 25px 25px 25px;
    width: 100%;
    height: 300px;
    display: block;
  }

  .tab-group button {
    padding: 10px 20px;
    margin-left: 10px; margin-right: 10px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  /* contact */
  
  #contact {
    height: 1000px;
  }

  #contact h2 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 120px;
  }

  #contact .container .cont {
    font-size: 35px;
    /* outline: 3px solid red; */
    display: inline-block;
    line-height: 2em;
  }

  #contact .act {
    outline: 2px solid green;
    
  }

  #contact h1 {
    margin-top: 150px;
    font-size: 100px;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
  
  }